@font-face {
    font-family: 'DejaVuSansMono';
    src: url('/fonts/dejavu-fonts-ttf-2.37/ttf/DejaVuSansMono.ttf');
}

/* Scroll Bar */

::-webkit-scrollbar {
    background-color: #1b1e1f;
    color: #ada69a;
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #1C1C24;
}

::-webkit-scrollbar-thumb {
  background: #42474a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
    /* background: #1f1f2e; */
    color: #FFF;
    background: url("/CSS/graphics/bg.svg") no-repeat, url("/CSS/graphics/bg2.svg");
    background-size: 100% auto;
    margin: 20px auto;
    width: calc(100vw - 32px);
    max-width: 1200px;
    font-family: 'DejaVuSansMono', monospace;
}

.banner {
    /* font-family: 'DejaVuSansMono', monospace; */
    font-size: 32pt;
    color: whitesmoke;
}

.banner span {
    color: orange;
    font-style: italic;
}

.main-container {
    /* display: flex; */
}

.text-container {
    flex: 1;
    /* border: 2px solid orange; */
    padding: 4px;
}

.topbar-container {
    display: flex;
    flex-wrap: wrap-reverse;
    /* border: 2px solid orange; */
    /* padding: 4px; */
    /* margin: 4px 0px; */
    /* max-width: 1300px; */
    /* margin: 16px auto; */
    /* background: #21212b; */
    /* border-radius: 2px; */
    /* border: 1px solid #16161d */
    font-size: 26px;
    font-weight: 300;
    text-align: left;
    /* margin-bottom: 16px; */
    /* height: 30px; */
}

.topbar-container a {
    text-decoration: none;
}

a.topbar-link:link, a.topbar-link:visited {
    /* position:relative; */
    /* height:70px; */
    /* line-height:40px; */
    /* margin-top:10px; */
    /* overflow:hidden; */
    /* margin-left:5%; */
    cursor: pointer;
    color: #9c9c9c
}

a.topbar-link:hover {
    color: whitesmoke
}

.topbar-block {
    /* display: inline-flex; */
    /* flex: 1; */
    float: left;
    border-radius: 3px;
    padding: 8px;
    background: #21212b;
    border-radius: 6px;
    border: 1px solid orange;
    /* max-width: 1100px; */
    /* margin: 16px auto; */
}

.topbarlogin-block {
    /* display: inline-flex; */
    /* flex: 1; */
    margin-left: auto;
    float: right;
    border-radius: 3px;
    padding: 8px;
    align-self: right;
    background: #21212b;
    border-radius: 6px;
    border: 1px solid orange;
    cursor: default;
    /* min-width: 191px; */
    /* height: 50px; */
    /* max-width: 1100px; */
    /* margin: 16px auto; */
}


.topbar-link {
    /* color: #777; */
    /* text-decoration: none; */
    /* padding-right: 18px; */
    /* padding-left: 18px; */
    /* font-size: 22px; */
    /* display: inline-flex; */
    padding: 0px 20px;
    /* margin: 0 .15em; */
}

.topbar .topbar-text {
    margin: 0 .15em;
    display: block;
    float: left;
}

.topbar-pfp {
    display: inline;
    vertical-align: -5%;
    border-radius: 2px;
}

.topbar-username {
    display: inline-block;
    vertical-align: top;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    padding-right: 6px;
}

.login-container {
    /* flex: 0.5; */
}

.login {
    /* background: blue; */
    /* text-align: center; */
    /* border-radius: 6px; */
    /* margin-left: 120px; */
}

li {
    display: block;
    float: left;
}

.text-heading {
    font-family: 'DejaVuSansMono', monospace;
}

.countdown-clock{
    width: 70%;
}

.countdown {
    font-family: 'DejaVuSansMono', monospace;
    text-align: center;
    font-size: 32pt;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #21212b;
    border: 1px solid orange;
    border-top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
}

.dropdown-content a.topbar-link {
    padding-bottom: 30px;
}

.topbarlogin-block:hover .dropdown-content {
    display: block;
}

.block {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 16px auto;
    background: #21212b;
    border-radius: 6px;
    border: 1px solid #efefef
}

.section {
    flex: 1;
    display: block;
    padding: 18px 16px;
    margin: 12px;
    width: 100%;
    border-radius: 6px;
}

.block .row {
    display: flex;
    flex-wrap: nowrap;
}

.block .section .code {
    margin: 16px 0px;
    padding: 12px;
    position: relative;
    display: inline-block;
    background-color: #373748;
    border: 1px solid whitesmoke;
    vertical-align: middle;
}

.section p {
    text-align: justify;
    margin: 0px;
    margin-bottom: 6px;
}

.section h1 {
    font-size: 26px;
    margin: 0px;
    margin-bottom: 8px;
}

.section h2 {
    font-size: 22px;
    margin: 0px;
    margin-bottom: 8px;
}

ul li {
    display: list-item;
    list-style-type: square;
    width: 100%;
}

input[type=text] {
    background-color: #373748;
    border: 1px solid whitesmoke;
    font-family: 'DejaVuSansMono', monospace;
    margin: 4px;
}

input[type=submit] {
    padding: 5px;
    background-color: #53536C;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    font-family: 'DejaVuSansMono', monospace;
    margin: 4px;
    color: whitesmoke;
}

input[type=submit]:hover {
    border: 1px solid orange;
}

/* In case checking for mobile */
/* @media only screen and (orientation: portrait) { */
/* } */

.login-links {
    flex: 1;
    padding: 18px 16px;
    margin: 12px;
    border-radius: 6px;
}

.login-links ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.login-links li {
    width: 80%;
    line-height: 1.5em;
}

.login-links a {
    color: orange;
    text-decoration: none;
}

.login-links a:hover {
    color: yellow;
}
