<!DOCTYPE html>
<html lang="en">
<head>
    {{template "Meta" .}}
    <title>Hack-o-Ween</title>
</head>
<body>
    {{template "Header" .}}
    <div class="main-container">
        <div class="block">
        <div class="section" style="text-align:center;">
            <h1>Welcome to Hack-o-Ween!</h1>
            <p style="text-align:justified;">Hack-o-Ween will host a series of thirteen horror-themed programming challenges starting in October! Currently, the website is in alpha in order to prepare for the full release. Three puzzles are available, and they can be completed in any order.</p>
            <p><b>These puzzles will not be carried over for the October release.</b></p>
            <a href="/alpha/p1">Puzzle One</a>
            <a href="/alpha/p2">Puzzle Two</a>
            <a href="/alpha/p3">Puzzle Three</a>
        </div>
        </div>
    </div>
</body>
</html>
