<!DOCTYPE html>
<html lang="en">
<head>
    {{template "Meta" .}}
    <title>Hack-o-Ween</title>
</head>
<body>
    {{template "Header" .}}
    <div class="main-container">
        <div class="block">
        <div class="section">
            <h1>Why Hack-o-Ween?</h1>
            <p>We've built Hack-o-Ween to be a fun, communal environment in which programmers from any skill level can test themselves and improve on their code. 
                Above all, Hack-o-Ween is a place of learning. Puzzles are designed to test various corners of Computer Science but all while being fun and engaging. 
            </p>

            <h1>Our goal</h1>
            <p>
                Through Hack-o-Ween we hope to build a community of like minded people and programmers. We hope to spread the joy of problem solving yearly with 13 unique puzzles releasing every October.
                Most importantly, we hope to inspire programmers from any and all skill levels to get out there and put their projects into the world.
            </p>

            <h1>About us</h1>
            <p>
                We are a team of two college seniors who have been working together on projects since our freshman year. In just 4 years, we had worked on 10+ projects together with most of them being
                video games. So, Hack-o-Ween is the first of it's kind for us. Our inspiration came from "Advent of code" and our love for puzzles. If you have the time during December, we highly recommend 
                participating in the advent! 
            </p>
        </div>
        </div>
    </div>
</body>
</html>
