<!DOCTYPE html>
<html lang="en">
<head>
    {{template "Meta" .}}
    <title>HoW-Login</title>
</head>
<body>
    {{template "Header" .}}
    <main>
        <div class="block">
            <div class="section">
                <p>User Authentication is handled via external services. Only your name and ID are saved to our servers, in order to display your name on our leaderboards and authenticate you.</p>
            </div>
            <div class="login-links">
                <ul>
                <li><a href="https://github.com/login/oauth/authorize?client_id=25359efa8c602bb10cbe&redirect_uri=https://hackoween.dev/oauth/github">Login with GitHub</a></li>
                <li><a href="https://gitlab.com/oauth/authorize?client_id=a3948f46add6c7bc64a53a4b3a801f5baeb2a08e6aa7707d90f79f4d24086f94&redirect_uri=https://hackoween.dev/oauth/gitlab&response_type=code&scope=read_user">Login with GitLab</a></li>
                <li><a href="https://hackoween.dev/oauth/google">Login with Google</a></li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
