<!DOCTYPE html>
<html lang="en">
<head>
    {{template "Meta" .}}
    <title>HoW-Settings</title>
</head>
<body>
    {{template "Header" .}}
    <main>
        <form id="settings" action="/settings/save" method="post">
            <div class="block">
                <div class="section">
                    <h1>Display Name</h1>
                    <p style="margin-bottom:6px;">Select how you'd like your name displayed on the site</p>
                    <div><label><input type="radio" name="name_type" value="0"/><span>Username</span></label></div>
                    <div><label><input type="radio" name="name_type" value="1"/><span>Real Name</span></label></div>
                    <div><label><input type="radio" name="name_type" value="2"/><span>Anonymous Name</span></label></div>
                </div>
                <div class="section">
                    <h1>Theme</h1>
                    <p style="margin-bottom:6px;">Choose your theme</p>
                    <div><label><input type="radio" name="theme_type" value="0"/><span>Dark</span></label></div>
                    <div><label><input type="radio" name="theme_type" value="1"/><span>Light</span></label></div>
                    <br>
                    <div><input type="submit" value="Save Settings" accesskey="s"></div>
                </div>
            </div>
        </form>
    </main>
</body>
</html>
