@font-face {
    font-family: 'DejaVuSansMono';
    src: url('http://127.0.0.1:9956/fonts/dejavu-fonts-ttf-2.37/ttf/DejaVuSansMono.ttf');
}

body {
    background: #1f1f2e;
    color: #FFF;
 }

.banner {
    font-family: 'DejaVuSansMono', monospace;
    font-size: 32pt;
}

.main-container {
    display: flex;
}

.text-container {
    flex: 1;
    border: 2px solid orange;
    padding: 4px;
}  

.sidebar-container {
    flex: 0.5;
    border: 2px solid orange;
} 

.text-heading {
    font-family: 'DejaVuSansMono', monospace;
}

.text {
    font-family: 'DejaVuSansMono', monospace;
}

.sidebar {
    text-align: center;
    transform: translateY(50%);
}
 
/*.main-container.sidebar-container.sidebar.sidebar-text.a {*/
a:link, a:visited {
    font-size:24px;
    font-weight:300;
    text-align:center;
    position:relative;
    height:40px;
    line-height:40px;
    margin-top:10px;
    overflow:hidden;
    width:90%;
    margin-left:5%;
    cursor:pointer;
    color:orchid
}

.sidebar:hover .text,
.sidebar.hover .text{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 0);
    transform:translateY(0%) translateZ(0) scale(1.1);
    font-weight:600;
}