@font-face {
    font-family: 'DejaVuSansMono';
    src: url('http://127.0.0.1:9956/fonts/dejavu-fonts-ttf-2.37/ttf/DejaVuSansMono.ttf');
}

#grad {
  background-image: linear-gradient(red, yellow, blue);
}

/* Scroll Bar */

::-webkit-scrollbar {
    background-color: #1b1e1f;
    color: #ada69a;
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #1C1C24;
}

::-webkit-scrollbar-thumb {
  background: #42474a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
    /* background: #1f1f2e; */
    color: #FFF;
    background: url("bg.svg") no-repeat, url("bg2.svg");
    background-size: 100% auto;
    margin: 20px auto;
    width: calc(100vw - 32px);
    max-width: 1200px;
    font-family: 'DejaVuSansMono', monospace;
}

.banner {
    font-family: 'DejaVuSansMono', monospace;
    font-size: 32pt;
}

.main-container {
    display: flex;
}

.text-container {
    flex: 1;
    border: 2px solid orange;
    padding: 4px;
}  

.topbar-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid orange;
    padding: 4px;
    margin: 4px 0px;
}

.topbar .topbar-link {
    /* color: #777; */
    /* text-decoration: none; */
    /* padding-right: 18px; */
    /* padding-left: 18px; */
    /* font-size: 22px; */
    /* display: inline-flex; */
    padding: 20px;
    margin: 0 .15em;
}

.topbar .topbar-text {
    margin: 0 .15em;
    display: block;
    float: left;
}

li {
    display: block;
    float: left;
}

.text-heading {
    font-family: 'DejaVuSansMono', monospace;
}

.text {
    font-family: 'DejaVuSansMono', monospace;
    font-size: 72pt;
}

.countdown-clock{
    width: 70%;
}

.countdown {
    font-family: 'DejaVuSansMono', monospace;
    text-align: center;
    font-size: 32pt;
}
 
a.topbar-link:link, a.topbar-link:visited {
    font-size:26px;
    font-weight:300;
    text-align:left;
    /* position:relative; */
    height:70px;
    line-height:40px;
    margin-top:10px;
    overflow:hidden;
    margin-left:5%;
    cursor:pointer;
    color:orange
}

a.topbar-link:hover {
    color: yellow
}

.block {
    display: flex;
    max-width: 1100px;
    margin: 16px auto;
    background: #21212b;
    border-radius: 6px;
    border: 1px solid #efefef
}

.block .section {
    flex: 1;
    padding: 18px 16px;
    margin: 12px;
    border-radius: 6px;
}

.section p {
    text-align: justify;
}

/* In case checking for mobile */
/* @media only screen and (orientation: portrait) { */
/* } */

.login-links {
    flex: 1;
    padding: 18px 16px;
    margin: 12px;
    border-radius: 6px;
}

.login-links ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.login-links li {
    width: 80%;
    line-height: 1.5em;
}

.login-links a {
    color: orange;
    text-decoration: none;
}

.login-links a:hover {
    color: yellow;
}
