<!DOCTYPE html>
<html lang="en">
<head>
    {{template "Meta" .}}
    <title>Hack-o-Ween</title>
</head>
<body>
    {{template "Header" .}}
    <div class="main-container">
        <div class="block">
            <div class="section">
                <h1>Nothing to see here...</h1>
                <p>This is where the previews to the puzzles are made. You shouldn't be here, but congrats on making it!</p>
            </div>
        </div>
        <div class="block">
        <div class="section">
            <pre class="code">
9: badc
+: bdca
-: dacb

cabddcbacbdadacbcadbdbacdabc
dcbaadbccadbdacbdabcdcbacabd
abcdcdbacabddacbcadbbadcabcd
dbacdbacdbacdacbdcbaadbcbadc
cdbabadcadbcdacbcdbabadcdcba
cabddabcdcbabdcabadccabdabcd
cadbdabccadbbdcacdbacadbdabc
dbaccadbcadbbdcacadbcdbacadb</pre>
        </div>
        </div>
        <div class="block">
        <div class="section">
            <pre class="code">
       X  XX
 X XX X   X  X
X  X   X X
 X     X  X
  X X     XX
 X   X X   X</pre>
        </div>
        </div>
        <div class="block">
        <div class="section">
            <pre class="code">
0: (64, 80)
5: (6, 26)
3: (8, 76)
0: (24, 78)
1: (70, 63)
3: (60, 30)
6: (6, 35)
1: (98, 78)
5: (53, 12)             </pre>
        </div>
        </div>

    </div>
</body>
</html>
