{{define "Alpha-Puzzles"}}
<div class="puzzle-blocks">
<div class="puzzle-block">
    <div class="section">
        <a href="/alpha/p1">
            <img src="/CSS/graphics/P1.webp" alt="Puzzle 1 Preview" width="130" height="130"/>
            <h1>Puzzle 1</h1>
        </a>
    </div>
</div>
<div class="puzzle-block">
    <div class="section">
        <a href="/alpha/p2">
            <img src="/CSS/graphics/P2.webp" alt="Puzzle 2 Preview" width="130" height="130"/>
            <h1>Puzzle 2</h1>
        </a>
    </div>
</div>
<div class="puzzle-block">
    <div class="section">
        <a href="/alpha/p3">
            <img src="/CSS/graphics/P3.webp" alt="Puzzle 3 Preview" width="130" height="130"/>
            <h1>Puzzle 3</h1>
        </a>
    </div>
</div>
</div>
{{end}}
