{{define "Header"}}
    <header>
        <h1 class="banner">Hack-o-Ween <span>ALPHA</span></h1>
        <div class="topbar-container">
            <span class="topbar-block"><nav>
                <a class="topbar-link" href="/">Home</a>
                <a class="topbar-link" href="/">About</a>
                <a class="topbar-link" href="/">Calendar</a>
                <!-- <a class="topbar-link" href="/debug">Debug</a> -->
            </nav></span>
            <span class="topbarlogin-block"{{if.Login}}style="min-width: 191px"{{end}}>
                {{if .Login}}
                <div class="dropdown">
                    <span>
                        <img class="topbar-pfp" title="user-profile-picture" src="{{.PFP}}" alt="" width="23" height="23"/>
                        <div class="topbar-username">{{.Username}}</div>
                    </span>
                    <div class="dropdown-content">
                        <a class="topbar-link" href="/settings" target="_self">Settings</a><br>
                        <a class="topbar-link" href="/sign-out" target="_self">Sign Out</a>
                    </div>
                </div>
                {{else}}
                <div class="login">
                    <a class="topbar-link" href="/login">Login</a>
                </div>
                {{end}}
            </span>
        </div>
   </header>
{{end}}
