{{define "Header"}}
    <header>
        <h1 class="banner">Hack-o-Ween</h1>
        <div class="topbar-container">
            <span class="topbar-block"><nav>
                <li><a class="topbar-link" href="/">Home</a></li>
                <li><a class="topbar-link" href="style.css">About</a></li>
                <li><a class="topbar-link" href="/calendar">Calendar</a><br></li>
                <li><a class="topbar-link" href="/debug">Debug</a></li>
                <!-- {{if .Login}} -->
                <!-- <h1 class="topbar-text">Welcome, {{.Username}}!</h1> -->
                <!-- <li><a class="topbar-link" href="/sign-out" target="_self">Sign Out</a></li> -->
                <!-- {{else}} -->
                <!-- <li><a class="topbar-link" href="/login">Login</a></li> -->
                <!-- {{end}} -->
            </nav></span>
            <span class="topbarlogin-block">
            <!--     {{if .Login}} -->
            <!--     <div class="dropdown"> -->
            <!--         <span>Mouse over me</span> -->
            <!--         <div class="dropdown-content"> -->
            <!--             <p>Hello World!</p> -->
            <!--             <a class="topbar-link" href="/sign-out" target="_self">Sign Out</a> -->
            <!--         </div> -->
            <!--     </div> -->
            <!--     {{else}} -->
                <div class="login">
                    <a class="topbar-link" href="/login">Login</a>
                </div>
            <!--     {{end}} -->
            </span>
        </div>
   </header>
{{end}}
