{{define "Header"}}
    <header>
        <h1 class="banner">Hack-o-Ween</h1>
        <div class="topbar-container">
            <nav class="topbar">
                <li><a class="topbar-link" href="/">Home</a></li>
                <li><a class="topbar-link" href="style.css">About</a></li>
                <li><a class="topbar-link" href="/calendar">Calendar</a><br></li>
                <li><a class="topbar-link" href="/debug">Debug</a></li>
                {{if .Login}}
                <h1 class="topbar-text">Welcome, {{.Username}}!</h1>
                <li><a class="topbar-link" href="/sign-out" target="_self">Sign Out</a></li>
                {{else}}
                <li><a class="topbar-link" href="/login">Login</a></li>
                {{end}}
            </nav>
        </div>
   </header>
{{end}}
